article{
  width:22%;
}
aside{
  width:74%;
}
.profile-contents{
  display:flex;
  justify-content:space-between;
  margin-bottom:50px;
}
p{
  font-size:16px;
  line-height:1.7;
}
h1{
  font-size:34px;
  text-align:center;
  boder-bottom:2px solid #0bd;
}
h2{
  font-size:24px;
  text-align:center;
  color:#0bd;
}
body{
  font-family:sans-serif;
}
