article{
  width:22%;
}
aside{
  width:74%;
}
.profile-contents{
  display:flex;
  justify-content:space-between;
  margin-bottom:50px;
}
p{
  font-size:14px;
}
h1{
  font-size:24px;
}
h2{
  font-size:20px;
}
body{
  font-family:sans-serif;
}
