@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.profile{
  text-align:center;
}
.profile-contents{
  display:flex;
  justify-content:space-between;
  margin-bottom:50px;
}
p{
  font-size:16px;
  line-height:1.7;
}
.profile{
  text-align:left;
}
h1{
  font-size:50px;
  text-align:center;
}
h2{
  font-size:34px;
  text-align:center;
}
body{
  font-family:sans-serif;
  color:#1c315d;
  background-color:#e5e2df;
  font-family: 'Noto Sans JP', sans-serif;
}
.name{
  font-size:20px;
}
.product1{
  padding: 30px;
  margin: 30px;
  width:50%;
  text-align: right;
}
.product1-2{
  padding: 30px;
  margin: 30px;
  width:50%;
  text-align: left;
}
.product2{
  padding: 30px;
  margin: 30px;
  width:45%;
  text-align: right;
}
.product2-2{
  padding: 30px;
  margin: 30px;
  width:70%;
  text-align: left;
}
.home-content{
  text-align:left;
  margin-top:10;
}

h3{
  font-weight:800;
  font-siz:large;
  text-align: left;
}
header {
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
}
header .headline{
  font-size: 32px;
}
footer {
  width: 100%;
  height: 120px; 
  text-align: center;
}
